<template>
    <v-container fill-height fluid>
        <v-col align="center">
            <GmapMap
                    :center="{ lat: 54.372158, lng: 18.638306 }"
                    :zoom="7"
                    map-type-id="terrain"
                    style="width: 800px; height: 500px"
            >
                <GmapMarker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.position"
                        :clickable="true"
                        :draggable="true"
                        @click="center = m.position"
                />
            </GmapMap>
        </v-col>

    </v-container>
</template>

<script>
    export default {
        name: "Map"
    };
</script>

<style scoped></style>
