<template>
    <nav>
        <v-toolbar app dark color="red darken-2">
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title class="text-uppercase main-font">
                <span>NightEscapade</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
                    text
                    to="/"
                    href="#">
                <span class="mr-2">Logout</span>
                <v-icon>mdi-logout-variant</v-icon>
            </v-btn>
        </v-toolbar>

        <v-navigation-drawer
                fixed
                clipped
                v-model="drawer"
                app
                color="red darken-2"
        >

        </v-navigation-drawer>
    </nav>
</template>

<script>
    export default {
        name: "Navbar",
        data() {
            return {
                drawer: false
            }
        }
    }
</script>

<style scoped>

</style>