<template>
    <v-app dark color="indigo">
        <v-content>
            <Navbar></Navbar>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script>
    import Navbar from "./components/Navbar";

    export default {
        name: "App",
        components: {Navbar}
    }

</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100%;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    @font-face {
        font-family: OutrunFuture;
        src: url(./assets/outrun-future.otf);
    }

    .main-font {
        font-family: "OutrunFuture", sans-serif;
        text-transform: uppercase;
    }

</style>
