<template>
    <v-container>
        <Particles></Particles>
    </v-container>
</template>

<script>
    // @ is an alias to /src
    import Particles from "./Particles";

    export default {
        name: "Home",
        components: {
            Particles
        }
    };
</script>

<style>
    .home {
        height: 100%;
    }
</style>
