<template>
    <div id="particles">
        <div class="main-title justify">
            <h2>
                Night Escapade
            </h2>
        </div>

        <vue-particles
                class="particles-js"
                color="#dedede"
                :particleOpacity="0.7"
                :particlesNumber="80"
                shapeType="circle"
                :particleSize="5"
                linesColor="#dedede"
                :linesWidth="2"
                :lineLinked="true"
                :lineOpacity="0.4"
                :linesDistance="150"
                :moveSpeed="3"
                :hoverEffect="true"
                hoverMode="grab"
                :clickEffect="true"
                clickMode="push"
        >
        </vue-particles>
    </div>
</template>

<script>
    export default {
        name: "Particles"
    };
</script>

<style>
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        background: #34393f;
    }

    #particles {
        height: 100%;
    }

    .justify {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        vertical-align: center;
    }

    .particles-js {
        background-image: url("../assets/background.jpg");
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-title {
        color: #fff;
        z-index: 999;
    }

    @font-face {
        font-family: KarmaticArcade;
        src: url(../assets/outrun-future.otf);
    }

    h2 {
        font-size: 7rem;
        font-family: "KarmaticArcade", sans-serif;
        text-shadow: 8px 8px #000000;
        text-transform: uppercase;
        margin: 0;
    }
</style>
