<template>
    <v-content color="indigo">
        <v-row>
            <Map></Map>
        </v-row>
    </v-content>
</template>

<script>
    import Map from "../components/Map";

    export default {
        name: "RoutePlanner",
        components: {Map}
    }
</script>

<style scoped>

</style>